<div class="p-2 w-auto" *ngIf="student">
  <h2>Edit Student Details</h2>
  <form (ngSubmit)="onSubmit(student.id)">
    <div>
      <label class="font-bold mr-2" for="name">Name:</label>
      <input class="bg-slate-300 m-2 p-1.5 text-black border rounded" type="text" id="name" name="name"
        [(ngModel)]="student.name" required>
    </div>
    <div>
      <label class="font-bold mr-2" for="email">Email:</label>
      <input class="bg-slate-300 m-2 p-1.5 text-black border rounded" type="email" id="email" name="email"
        [(ngModel)]="student.email" required>
    </div>
    <div>
      <label class="font-bold mr-2" for="dob">Date of Birth (DOB):</label>
      <input class="bg-slate-300 m-2 p-1.5 text-black border rounded" type="text" id="dob" name="dob"
        [(ngModel)]="student.dob" required>
    </div>
    <div>
      <label class="font-bold mr-2" for="branch">Branch:</label>
      <input class="bg-slate-300 m-2 p-1.5 text-black border rounded" type="text" id="branch" name="branch"
        [(ngModel)]="student.branch" required>
    </div>
    <div>
      <label class="font-bold mr-2" for="semester">Semester:</label>
      <input class="bg-slate-300 m-2 p-1.5 text-black border rounded" type="number" id="semester" name="semester"
        [(ngModel)]="student.semester" required>
    </div>
    <button class="w-auto font-medium text-primary-600 hover:underline bg-blue-500 p-2 mb-2 rounded" type="submit">Save
      Changes</button>
  </form>
</div>